#html-element {
    font-size: larger;
    color: blue;
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-width: inherit;
    border-bottom-color: green;
}

.red {
    color: red;
}