.jumbotron {
    background-color: rgb(50, 88, 21);
    color: white;
}

footer {
    margin-top: 50px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #9E9E9E;
    padding-top: 25px;
    color: #908f8f;
}

body {
    background-color: #f5d4df;
    font-family: "Microsoft JhengHei";
}

.name {
    font-size: 14px;
    font-family: "Microsoft JhengHei";
    color: #212121;
    margin-top: 0px;
    margin-bottom: 3px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.5;
    text-align: center;
}

.price {
    color: #fa0a0a;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}

.image {
    width: 160px;
    height: 160px;
    margin-top: 0px;
    margin-bottom: 22px;
    margin-left: 37px;
    margin-right: 37px;
}

.item {
    height: 300px;
    position: relative;
    border: none;
    background: #fff;
    text-align: center;
    background-clip: border-box;
    background-image: none;
    background-origin: padding-box;
    margin-bottom: 20px;
    margin-left: 14px;
    margin-right: 0px;
    margin-top: 0px;
    padding-top: 34px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
}

.item:hover {
    box-shadow: 0 15px 30px rgba(55, 6, 233, 0.1);
    transform: translate3d(-5px, -5px, 0);
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: linear;
}